doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      .container.menu-wrapper
        .logo
          a(href="/") My Bot
        .menu
          ul
            li 
              a(href="/dashboard").btn Dashboard 
    block content
    