doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/main.js")
  body
    .navbar
      .container
        .row.menu-wrapper
          .logo
            a(href="/") My Bot
          .menu
            ul
              li 
                a(href="/dashboard").btn Dashboard 
              li 
                a.exit.btn Exit
    block content
    