@import '_fonts'
@import '_vars'
@import '_login'
@import '_dashboard'

body
  margin 0
  font-family "Google"
  background-color rgba($primary, 0.02)

.content
  margin-top 40px

.navbar
  border-bottom 1px solid rgba($primary, .1)
  .menu-wrapper
    justify-content space-between
    align-items center
    height 70px
    .logo
      a 
        font-size 20px
        font-weight 900
    ul
      display flex
    li
      list-style none
      margin-left 10px
    a 
      font-family "Google"
      color $primary
      text-decoration none
      
.btn
  cursor pointer
  border 1px solid $primary
  padding 10px 20px
  border-radius $radius
  transition: $transition
  background-color #fff
  outline none
  &:hover
    box-shadow 0 0 0 3px rgba($primary, 0.3)

textarea
  border none 
  resize none
  background-color transparent 
  height 15px
  outline none
  color $primary

@import '_media'